@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Password Reset";
}
<div class="card" style="border-radius:10px">
    <div class="card-body wizard-content">
        <h4 class="card-title" style="padding-left:30px;">Reset Password</h4>
        <div style="background:#eeeeee;padding:30px;border-radius:10px;">
            <form id="uForm" method="post" novalidate="novalidate">
                <input type="hidden" id="userName" name="userName" value="@Session["userName"]" />
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Old Password</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control col-md-10" id="oldPass" name="oldPass"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">New Password</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control col-md-10" id="newPass" name="newPass"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Re-write Password</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control col-md-10" id="rePass" name="rePass"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Reset Password" id="btnSave" class="btn btn-warning" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#uForm").validate({
            rules: {
                oldPass: {
                    required: true
                },
                newPass: {
                    required: true,
                    minlength: 6
                },
                rePass: {
                    required: true,
                    equalTo: "#newPass"
                }
            },
            messages: {
                oldPass: "old password is required.",
                newPass: {
                    required: "new password is required.",
                    minlength: "password must be at least 6 characters long"
                },
                rePass: {
                    required: "re-write password is required.",
                    equalTo: "please enter the same password as above."
                }
            },
            submitHandler: function () {
                var uname = $('#userName').val();
                var opass = $('#oldPass').val();
                var npass = $('#newPass').val();
                var data = {
                    userName: uname,
                    oldPass: opass,
                    newPass: npass
                };
                $.ajax({
                    type: "POST",
                    url: "/Accounts/ResetPassword",
                    data: data,
                    success: function (dd) {
                        if (dd == 1) {
                            swal({
                                icon: "success",
                                title: "successfully done!!"
                            }).then((confirm) => {
                                if (confirm == true) {
                                    $.post("@Url.Action("CheckUserType", "Accounts")", { userName: uname }
                                        , function (data) {
                                            if (data != 3) {
                                                window.location.href = "/Admin/Index";
                                            } else {
                                                window.location.href = "/Guests/Index";
                                            }
                                        });
                                }
                            });
                        }
                        else {
                            swal({
                                icon: "error",
                                title: "sorry..!!",
                                text: "old password not match."
                            })
                        }
                    }
                });
            }
        });
    });
</script>
